/* GENERAL */

a {
  text-decoration: none;
}

/* NAVBAR */
#navbar ul{
  font-size: large;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #424242;
  border-radius: 8px; */
}

#navbar li {
  float: left;
}

#navbar a {
  padding: 8px;
  display: block;
  /* color: white; */
  text-align: center;
  /* padding: 14px 16px; */
  /* text-decoration: none; */
}
/* 
#navbar a:hover {
  background-color: #4c4c4c;
} */

/* SPLASH PAGE */
.list-display {
  /* background-color: rosybrown; */
  /* border: 1px black solid; */
  text-align: center;
  list-style: none;
}

.splash {
  margin-top: 50px;
}

.list-display li {
  /* border: 1px solid black; */
  padding: 8px;
  /* width: 300px; */
  text-align: center;
  border-radius: 10px;
  background-color: gainsboro;
}

/* .splash-links {
  text-align: left;
} */
