<h1>Dr. Sillystringz's Factory</h1>

<div id="navbar" class="container">
  <ul id="navlist">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Engineers", "Index", "Engineers")</li>
    <li>@Html.ActionLink("Machines", "Index", "Machines")</li>
  </ul>
</div>

<hr/>