@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h5>Factory > Engineers > @Model.Name > Remove</h5>
<hr/>

<h2>Are you sure you want to delete this Engineer's records?</h2>
<br/>
<h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>
<br/>
@using(Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger" />
}

<br/>
<div class="links container">
  <h5>@Html.ActionLink("Back to Engineer", "Details", new { id = Model.EngineerId })</h5>
</div>