@{
  Layout = "_Layout";
}

<h1>Dr. Sillystringz's Factory</h1>
<hr/>

<div class="links container">
  <h5>@Html.ActionLink("Manage Engineers", "Index", "Engineers")</h5>
  <h5>@Html.ActionLink("Manage Machines", "Index", "Machines")</h5>
</div>